html {
  font-size: 11pt;
  font-family:'EB Garamond';
  font-variant-numeric: oldstyle-nums;
  /* Alternatives: */
  /* font-family:'Garamond Premier Pro'; (non-free) */
  /* font-family:'TeX Gyre Pagella'; (a replacement for Palatino) */
  /* font-family:'TeX Gyre Bonum'; (a replacement for Bookman) */
  /* font-family:'TeX Gyre Schola'; (a replacement for Century Schoolbook) */
  /* font-family:'Gentium'; */
}
code {
  font-size: 10pt;
  font-family:'Inconsolata';
  /* Alternatives: */
  /* font-family:'TheMixMono'; (non-free) */
  /* font-family:'IBM Plex Mono'; */
  /* font-family:'DejaVu Sans Mono'; */
  /* font-family:'Noto Mono'; */
  /* font-family:'TeX Gyre Cursor'; (similar to Courier) */
}
