<h2 style="margin-top: 4cm; text-align: center; font-size:36pt">The Small Book of PicoLisp</h2>
<div id="logo"><img src="logo.svg" width="512" height="474" /></div>
<div style="page: clean"></div>
<div id="information"><p>A compilation of articles and references from the official documentation of the PicoLisp Programming language found at https://software-lab.de/doc/
<br/>
<br/>
(c) Software Lab. Alexander Burger
<br/>
(c) Software Lab. Mattias Sundblad
<br/>
<br/>
Compiled and typeset from HTML source by Christos Gitsis
<br/>
<br/>
June 2022
</p></div>
<div style="break-after: right"></div>
<div style="page: clean;"></div>
<h2 style="margin-top: 6.5cm; font-size:28pt">Outline of the book</h2>
<div id="toc">
<ul>
<li>Introduction: the PicoLisp System</li>
<li>PicoLisp Frequently Asked Questions</li>
<li>A PicoLisp Tutorial</li>
<li>The PicoLisp Reference</li>
<li>Native C Calls</li>
<li>The 'select' Predicate</li>
<li>PicoLisp Application Development</li>
<li>The PicoLisp Form Library</li>
<li>The 'httpGate' Proxy Server</li>
<li>Appendix: Structures</li>
</ul>
</div>
