@page { size: A4 }
@page :left {
  margin: 25mm 28mm 20mm 20mm;
  bleed: 1cm;
  @top-left { content: counter(page) };
  @top-right { content: string(heading); font-variant: small-caps };
}
@page :right {
  margin: 25mm 20mm 20mm 28mm;
  bleed: 1cm;
  @top-left { content: string(heading); font-variant: small-caps };
  @top-right { content: counter(page) };
}
@page clean {
  @top-left { content: none }
  @top-right { content: none }
}
@page :first {
  @top-left { content: none }
  @top-right { content: none }
}
@page :blank {
  @top-left { content: none }
  @top-right { content: none }
}

div#logo{ display: block; margin: 35mm 0 0 15mm; }
div#toc ul li { font-size: 17pt; margin-left: 0mm; list-style-type:none }
div#information { font-size: 13pt; text-align: left; margin: 9cm 1cm 0cm 1cm  }
  
h1 { string-set: heading content(); }
h1, h2  { font-weight: normal; }
html { hyphens: auto; }
pre { margin-right: -18mm; } /* negative margin allows bleed */

code { white-space: pre-wrap; }
span.smallcaps { font-variant: small-caps; }
span.underline { text-decoration: underline; }
div.column { display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent { margin-left: 1.5em; text-indent: -1.5em; }
ul.task-list{ list-style: none; }
a { color: black; }
.align-right { text-align: right; }
